@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,600&display=swap");
@font-face {
  font-family: "Serenity";
  src: url("../fonts/Serenity.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/***Colors***/
.light-pink {
  color: #d7c4bf;
}

.orange {
  color: #f6a021;
}

.brown {
  color: #a4593c;
}

.dark-brown {
  color: #61463c;
}

.light-brown {
  color: #b9887d;
}

.green {
  color: #8a7c62;
}

.dark {
  color: #4f4f4f;
}

/***Text***/
.text-big {
  font-size: 3.2rem;
}

.text-bigger {
  font-size: 4rem;
}

.text-semibold {
  font-weight: 700;
}

.text-bold {
  font-weight: 900;
}

.text-cursive {
  font-family: "Serenity";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 19px;
  color: #828282;
  font-family: "Playfair Display", serif !important;
  font-weight: 400;
  overflow-x: hidden;
}

/***Navbar***/
.navbar {
  z-index: 2;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.navbar-nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  float: right;
  width: 40%;
  padding: 0rem 1rem;
}

#navbarNav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-dark .navbar-toggler {
  color: transparent;
}

.logo {
  width: 55px;
}

.nav-link {
  color: #4f4f4f !important;
  font-size: 0.9rem;
  margin: 0 0.5rem;
}

.nav-link:hover {
  color: #a4593c !important;
}

.navbar ul li .nav-link {
  position: relative;
}

.navbar ul li .nav-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #b9887d;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.navbar ul li .nav-link:hover:after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/***carousel-home***/
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.caption1 .span1 {
  font-size: 4rem;
  color: white;
}

.caption1 .span2 {
  font-size: 4rem;
  color: #d7c4bf;
  font-weight: 700;
}

.caption2 .span1 {
  font-size: 4rem;
}

.caption2 .span2 {
  font-size: 6rem;
  font-weight: 900;
}

.caption3 span {
  font-weight: 900;
}

.caption1,
.caption2,
.caption3 {
  bottom: 20.25rem;
}

.caption1,
.caption2,
.caption3 > h1 {
  font-size: 2.5rem;
}

.caption1,
.caption2,
.caption3 > h1 > span {
  font-size: 5rem;
  font-weight: normal;
}

.text-first-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-third-slide {
  left: auto;
  bottom: 17.25rem;
}

.text-bigger {
  font-size: 4rem !important;
}

/***Mi historia***/
.mockup-mobile {
  width: 75%;
  margin: auto;
}

.text-comienzos {
  font-size: 6.3rem;
  padding-left: 1rem;
  line-height: 1rem;
}

.image-bg-01 h3 {
  line-height: 2.7rem;
}

.text-analizando {
  font-size: 5.5rem;
  padding-top: -1rem;
  padding-left: 0.5rem;
}

.image-bg-02 h3 {
  line-height: 2.5rem;
}

.bgcolor-historia {
  background-image: url(../img/image-historia.jpg);
}

.tarjeta {
  height: 39rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 9rem;
}

.tarjeta h1 {
  font-size: 4rem;
  text-align: left;
  padding: 0rem 0 3rem 0;
  color: white;
}

.tarjeta p {
  color: #4f4f4f;
  width: 80%;
  text-align: left;
}

.text-salir {
  font-size: 6rem;
  padding: 0 1rem;
  line-height: 2rem;
  color: #4f4f4f;
}

.tarjeta h5,
h4 {
  text-align: left;
}

.tarjeta h4 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #61463c;
  line-height: 2.5rem;
}

.tarjeta h5 {
  font-size: 2rem;
}

.image-bg-02 {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 13rem 9rem;
}

.image-bg-01 {
  background-image: url(../img/image-bg-01.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding: 10rem 10rem;
}

.image-bg-02 {
  background-image: url(../img/image-bg-02.jpg);
}

.button-rounded-white {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 16px;
}

.button-rounded-white:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

.icon-chevron-down {
  font-size: 2rem;
  color: #8a7c62;
}

.icon-chevron-down:hover {
  color: #a4593c;
}

/***Coffee***/
.image-coffee {
  background-image: url(../img/coffee.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15rem 10rem;
}

.content-coffee {
  padding: 8.5rem 10rem;
}

.tarjeta-coffee {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 30rem;
}

.adelante-coffee,
.atras-coffee {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adelante-coffee h1 {
  width: 80%;
}

.atras-coffee p,
h4 {
  width: 80%;
}

.atras-coffee h4 {
  line-height: 3rem;
}

.atras-coffee p {
  font-size: 20px;
  color: #4f4f4f;
}

.text-oportunity {
  font-size: 5rem;
  color: #a4593c;
  font-weight: normal;
  padding-right: 1rem;
  line-height: 1rem;
}

.atras-coffee {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.tarjeta-wrap:hover .tarjeta-coffee {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.img-back-coffee {
  background-image: url(../img/bg-coffee.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-back-coffee {
  background-image: url(../img/coffee-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-decides {
  font-size: 6rem;
}

.atras-coffee-two {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.atras-coffee-two h1 {
  text-align: left;
  margin-right: 10rem;
  margin-bottom: 2rem;
  color: #61463c;
}

.atras-coffee-two p {
  color: white;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.atras-coffee-two h2 {
  font-size: 2.5rem;
  text-align: left;
  color: #4f4f4f;
  line-height: 5rem;
}

/***Hackea tu vida***/
.flex-hackea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-vida {
  font-size: 8rem;
  line-height: 3rem;
}

.text-estancada {
  font-size: 7rem;
  line-height: 2.5rem;
  color: #f6a021;
}

.text-control {
  font-size: 6rem;
  padding-right: 6rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}

.adelante-hackea h1 {
  line-height: 3rem;
}

.image-bg-03 {
  background-image: url(../img/image-bg-03.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 15rem 10rem;
}

.tarjeta-hackea {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 38rem;
}

.adelante-hackea,
.atras-hackea {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarjeta-wrap:hover .tarjeta-hackea {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.atras-hackea {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.adelante-hackea h1,
h2,
p {
  width: 68%;
}

.atras-hackea h1,
h2,
p {
  width: 68%;
}

.adelante-hackea h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.bg-hackea-front {
  background-image: url(../img/bg-taller-04.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.bg-hackea {
  background-image: url(../img/bg-hackea.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.atras-hackea h1 {
  text-align: left;
  margin-bottom: 1rem;
  color: #a4593c;
  font-weight: 700;
}

.atras-hackea h2 {
  font-size: 3.5rem;
  text-align: left;
}

.atras-hackea p {
  text-align: left;
}

.button-rounded-brown {
  text-decoration: none;
  color: white;
  background-color: #8a7c62;
  border-radius: 50px;
  padding: 16px 30px;
}

.button-rounded-brown:hover {
  color: white;
  background-color: #61463c;
}

/***Testimonios***/
.wrapper {
  width: 100%;
  background: #8a7c62;
  padding: 40px 0 10px 0;
  position: relative;
}

.ssslide img {
  margin: auto !important;
}

.slider-testimonial {
  width: 85%;
  max-width: 1400px;
  margin: auto;
}

.testimonial-client {
  margin-bottom: 15px;
}

.testimonial-client img {
  width: 10rem;
  position: absolute;
  margin: auto;
}

.client-name {
  text-align: center;
  color: white;
  font-family: "Serenity";
  font-size: 4rem;
}

.testimonial-text {
  padding: 71px 60px 50px 60px;
  color: white;
  border: 2px solid white;
  position: relative;
  top: -65px;
  width: 80%;
  margin: 0 auto;
}

.testimonial-text:first-child {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.testimonial-text p {
  margin: auto;
  text-align: center;
  width: 90%;
}

/***Talleres***/
.text-taller-1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.text-taller-2 {
  font-size: 2.5rem;
  font-weight: 800;
}

.text-taller-3 {
  font-size: 2rem;
  font-weight: 800;
}

.text-taller-4 {
  font-size: 2rem;
  font-weight: 800;
}

.text-taller-5 {
  font-size: 2rem;
  font-weight: 800;
}

.title-talleres {
  background: #eee;
  font-size: 7rem;
  text-align: center;
  padding: 3rem 0 0 0;
  font-family: "Serenity";
  color: #a4593c;
  margin-bottom: 0;
}

.text-bossing {
  margin: 2.8rem auto !important;
}

.text-vinculos {
  margin: 2rem auto !important;
}

.img-taller-1, .img-taller-2, .img-taller-3, .img-taller-4, .img-taller-5 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 400px;
  border-radius: 15px;
}

.img-taller-1 {
  background-image: url(../img/image-taller-01.jpg);
}

.img-taller-2 {
  background-image: url(../img/image-taller-02.jpg);
}

.img-taller-3 {
  background-image: url(../img/image-taller-03.jpg);
}

.img-taller-4 {
  background-image: url(../img/image-taller-04.jpg);
}

.img-taller-5 {
  background-image: url(../img/image-taller-05.jpg);
}

.container-fluid-swiper {
  background: #eee;
  font-size: 14px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

.container-swiper {
  width: 90%;
  padding: 10px 40px;
  position: relative;
  overflow-x: hidden;
}

/*
::-webkit-scrollbar {
  display: none; ocultar barra de scroll horizontal
}*/
.container-swiper .swiper-container {
  width: 100%;
  height: 100%;
}

.card-title h4 {
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 1rem auto;
}

.card-description button {
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
}

.card-description button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.btn-check:focus + .btn,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container-swiper .swiper-slide {
  position: relative;
  text-align: start;
  font-size: 18px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
          box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  background: #fff;
}

.container-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.3);
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  color: white !important;
  padding: 1rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1rem !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

/*Ventana modal*/
.modal-backdrop {
  z-index: 0;
}

.modal {
  height: auto;
  overflow-y: hidden;
}

/*Tarjeta flip talleres*/
.wrap-flip {
  margin: 19px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-wrap {
  margin: 10px;
  -webkit-perspective: 800;
  perspective: 800;
}

.card {
  width: 415px;
  height: 490px;
  background-color: white;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  border: none;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  width: 100%;
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #a4593c;
  text-align: center;
  color: #fff;
}

.background-back {
  background-color: #a4593c;
}

.card-wrap:hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border: none;
}

.card h1 {
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  width: 70%;
  margin-top: 1.5rem;
  text-align: left;
}

.front h1 {
  color: #8a7c62;
  padding-top: 3.8rem;
}

.back h1 {
  padding-top: 2.5rem;
}

.item-taller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-bullhorn {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #d7c4bf;
}

.icon-check1 {
  margin-right: 1rem;
  font-size: 2rem;
  color: #d7c4bf;
}

/***Mi Contenido***/
.underline-text {
  border-bottom: 1.5px solid white;
}

.bg-content {
  background-image: url(../img/image-texture.jpg);
  background-size: cover;
  padding-bottom: 4rem;
}

.title-content {
  font-size: 7rem;
  text-align: center;
  padding: 3rem 0 3rem 0;
  font-family: "Serenity";
  color: #61463c;
}

.row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  padding-bottom: 7rem;
}

.img-content-1, .img-content-2, .img-content-3 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1rem 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 15px;
}

.img-content-1 {
  background-image: url(../img/image-content-01.jpg);
  height: 40rem;
}

.img-content-2 {
  background-image: url(../img/image-content-02.jpg);
  height: 19.7rem;
  width: 100%;
  margin-bottom: 0.3rem;
}

.img-content-3 {
  background-image: url(../img/image-content-03.jpg);
  height: 19.7rem;
  width: 100%;
  margin-top: 0.3rem;
}

/***Contactame***/
.bg-contactame {
  background-color: #b9887d;
  padding: 2.5rem 0;
}

.bg-contactame h1 {
  font-size: 3.5rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
}

.text-contact {
  font-size: 1.4rem;
  margin-bottom: 3rem !important;
  margin-top: 1.3rem;
  margin: auto;
}

.wrapper-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-input div {
  width: 20%;
  margin: 0 2rem;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  border-radius: 0;
}

::-webkit-input-placeholder {
  color: white !important;
  font-size: 1.3rem;
}

:-ms-input-placeholder {
  color: white !important;
  font-size: 1.3rem;
}

::-ms-input-placeholder {
  color: white !important;
  font-size: 1.3rem;
}

::placeholder {
  color: white !important;
  font-size: 1.3rem;
}

/* IE 10+ */
:-ms-input-placeholder {
  color: white;
  font-size: 1.3rem;
}

/* WebKit */
::-webkit-input-placeholder {
  color: white;
  font-size: 1.3rem;
}

/* Firefox 19+ */
::-moz-placeholder {
  color: white;
  font-size: 1.3rem;
}

textarea.form-control {
  height: 1.1rem;
  padding-bottom: 2.1rem;
}

.btn-send {
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid white;
  border-radius: 50px;
  padding: 14px 80px;
  margin-top: 3rem;
}

.btn-send:hover {
  color: black;
  background-color: white;
}

.mail-sent {
  background-color: #8a7c62;
  padding: 10px;
  border-radius: 7px;
  margin-top: 2em;
  text-align: center;
  font-weight: 400;
}

/***Footer***/
.bg-footer {
  background-color: #4f4f4f;
  padding: 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

.bg-footer a {
  text-decoration: none;
  color: white;
}

.logo-footer {
  width: 5rem;
  margin-right: 3rem;
}

.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-instagram,
.icon-twitter,
.icon-youtube {
  font-size: 1.5rem;
  margin: 0 0.8rem;
}

.icon-instagram:hover,
.icon-twitter:hover,
.icon-youtube:hover {
  color: #b9887d;
}

.link-footer {
  margin-left: 2.8rem;
  margin-right: 2.8rem;
}

.link-footer:hover {
  color: #b9887d;
}

/*Arrow Up Button*/
#scrollUp {
  bottom: 70px;
  right: 25px;
  width: 50px;
  height: 50px;
  background: url("../img/arrow-up.svg");
}

#scrollUp:hover {
  background: url(../img/arrow-up-hover.svg);
}

/*proximamente-section*/
.proximamente-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
}

.proximamente-section h1 {
  color: #a4593c;
  font-size: 4rem;
  font-weight: 700;
}
