@import "variables";

@media screen and (max-width: 988px) {
  /*navbar*/
  .navbar-nav {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@media screen and (min-width: 989px) {
  /*navbar*/
  .navbar-nav {
    width: auto;
  }
}

@media screen and (max-width: 1000px) {
  /*My history*/
  .sidebar {
    width: 100%;
    height: 17rem;
    padding: 6rem 0;
  }
  .content {
    width: 100%;
  }
  .box-history {
    padding: 0;
  }
  .scroll {
    height: 910px;
  }

  /*Coffee*/
  .sidebar-coffee {
    width: 100%;
  }
  .scroll-coffee {
    height: 986px;
  }

  /*Hackea tu vida*/
  /*Carousel*/
  .sidebar-carousel {
    width: 100%;
  }
  .scroll-hackea {
    height: 1428px;
  }
  .w-responsive {
    height: 47rem;
  }
  .box-hackea {
    padding: 0;
  }
}
