@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,600&display=swap");
@import "variables";

@font-face {
  font-family: "Quentin";
  src: url("../fonts/Quentin.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
///General///
/***Colors***/
.light-pink {
  color: $colour-light-pink;
}
.orange {
  color: $colour-orange;
}
.brown {
  color: $colour-brown;
}
.light-brown {
  color: $colour-light-brown;
}
.green {
  color: $colour-green;
}

/***Text***/
.text-big {
  font-size: 3.2rem;
}
.text-bigger {
  font-size: 4rem;
}
.text-bold {
  font-weight: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 19px;
  color: #828282;
  font-family: "Playfair Display", serif !important;
  font-weight: 400;
}

///index.html///

/***Navbar***/
.navbar {
  z-index: 2;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 0;
  left: 0;
  right: 0;
}
.navbar-nav {
  align-items: end;
  float: right;
  width: 40%;
  padding: 1rem 1rem;
}
#navbarNav {
  justify-content: end;
}
.navbar-brand {
  padding-top: 1.3125rem;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar-dark .navbar-toggler {
  color: transparent;
}

/***carousel-home***/
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-caption {
  bottom: 20.25rem;
}
.carousel-caption > h1 {
  font-size: 2.5rem;
}
.carousel-caption > h1 > span {
  font-size: 5rem;
  font-family: "Quentin";
  font-weight: normal;
}
.text-first-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 5%;
}
.text-third-slide {
  left: auto;
  bottom: 17.25rem;
}
.text-bigger {
  font-size: 4rem !important;
}

/***Mi historia***/
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
.scroll {
  height: 730px;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.content {
  width: 50%;
}
.content h1 {
  margin-top: 0;
}
.sidebar {
  padding: 20px;
  width: 170px;
  background-color: $colour-light-pink;
  color: #fff;
}
.sidebar h3 {
  margin: 0;
}
.content,
.sidebar {
  float: left;
}

/* The sticky */
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 50%;
  height: 46rem;
}

.box-history {
  background-color: $colour-light-pink;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 18rem 0;
}
.box-history h1 {
  font-size: 5rem;
}
.bg-sticky {
  background-color: $colour-light-pink;
}
.text-cursive {
  font-family: "Quentin";
}
%module-img-bg-history {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 15rem 10rem;
}
.image-bg-01 {
  background-image: url(../img/image-bg-01.jpg);
  @extend %module-img-bg-history;
}
.image-bg-02 {
  background-image: url(../img/image-bg-02.jpg);
  @extend %module-img-bg-history;
}
.image-bg-03 {
  background-image: url(../img/image-bg-03.jpg);
  @extend %module-img-bg-history;
}
.image-bg-03 h3 {
  line-height: 3rem;
}
.button-rounded-white {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 16px;
  &:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

/***Coffee***/
.image-coffee {
  background-image: url(../img/coffee.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15rem 10rem;
}
.sidebar-coffee {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 50%;
  height: 30rem;
  float: left;
}
.content-coffee {
  padding: 8.5rem 10rem;
}
.scroll-coffee {
  height: 480px;
  overflow: scroll;
}
.text-reflection {
  font-size: 2.8rem;
  color: $colour-light-brown;
}
.text-oportunity {
  color: $colour-dark-brown;
}

/***Hackea tu vida***/
.content-hackea {
  padding: 15rem 10rem;
}
.button-rounded-brown {
  text-decoration: none;
  color: white;
  background-color: $colour-light-brown;
  border-radius: 50px;
  padding: 16px 30px;
  &:hover {
    color: white;
    background-color: $colour-brown;
  }
}
.sidebar-carousel {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 50%;
  height: 46rem;
  color: #fff;
  float: left;
}
.box-hackea {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 18rem 0;
}
.box-hackea h1 {
  font-size: 5rem;
}
.scroll-hackea {
  height: 730px;
  overflow: scroll;
}
.carousel-hackea {
  position: initial;
}

/***Testimonio***/
.bg-testimonio {
  background-color: $colour-green;
  padding: 10rem 0 7rem 0;
}
.wrapper-testimony {
  font-style: italic;
  color: white;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid white;
  padding: 3.5rem 3rem 2rem 3rem;
  position: relative;
}
#comillas {
  width: 10rem;
  position: absolute;
  top: -7rem;
}
