@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,600&display=swap");
@import "variables";

@font-face {
  font-family: "Serenity";
  src: url("../fonts/Serenity.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon/icomoon.woff") format("woff"),
    url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

///General///
/***Colors***/
.light-pink {
  color: $colour-light-pink;
}
.orange {
  color: $colour-orange;
}
.brown {
  color: $colour-brown;
}
.dark-brown {
  color: $colour-dark-brown;
}
.light-brown {
  color: $colour-light-brown;
}
.green {
  color: $colour-green;
}
.dark {
  color: $colour-darker;
}

/***Text***/
.text-big {
  font-size: 3.2rem;
}
.text-bigger {
  font-size: 4rem;
}
.text-semibold {
  font-weight: 700;
}
.text-bold {
  font-weight: 900;
}
.text-cursive {
  font-family: "Serenity";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 19px;
  color: #828282;
  font-family: "Playfair Display", serif !important;
  font-weight: 400;
  overflow-x: hidden;
}
///index.html///

/***Navbar***/
.navbar {
  z-index: 2;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
}
.navbar-nav {
  align-items: end;
  float: right;
  width: 40%;
  padding: 0rem 1rem;
}
#navbarNav {
  justify-content: end;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar-dark .navbar-toggler {
  color: transparent;
}
.logo {
  width: 55px;
}
.nav-link {
  color: $colour-darker !important;
  font-size: 0.9rem;
  margin: 0 0.5rem;
  &:hover {
    color: $colour-brown !important;
  }
}
.navbar ul li .nav-link {
  position: relative;
}
.navbar ul li .nav-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: $colour-light-brown;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.navbar ul li .nav-link:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

/***carousel-home***/
.text-construir {
  font-size: 10rem !important;
  padding-left: 1rem;
}
.text-limites {
  font-size: 9rem !important;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.caption1 .span1 {
  font-size: 4rem;
  color: white;
}
.caption1 .span2 {
  font-size: 4rem;
  color: $colour-light-pink;
  font-weight: 700;
}
.caption1,
.caption2 {
  bottom: 23rem;
}
.caption1,
.caption2 > h1 {
  font-size: 2.5rem;
}
.caption1 > h1 > span {
  font-size: 5rem;
  font-weight: normal;
}
.caption2,
h1 {
  line-height: 4.5rem !important;
}
.caption3,
h1 {
  line-height: 3.5rem;
}
.caption3 > h1 {
  font-size: 1rem;
}
.caption3 .light-pink {
  font-size: 3rem;
}

.text-first-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-third-slide {
  left: auto;
  bottom: 17.25rem;
}
.text-bigger {
  font-size: 4rem !important;
}

/***Mi historia***/
.mockup-mobile {
  width: 75%;
  margin: auto;
}
.text-comienzos {
  font-size: 8rem;
  padding-left: 1rem;
  line-height: 1rem;
}
.image-bg-01 h3 {
  line-height: 2.7rem;
}
.text-analizando {
  font-size: 8rem;
  padding-top: -1rem;
  padding-left: 0.5rem;
  font-weight: normal;
}
.image-bg-02 h3 {
  line-height: 2.5rem;
}
.bgcolor-historia {
  background-image: url(../img/image-historia.jpg);
}
.tarjeta {
  height: 39rem;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 9rem;
}

.tarjeta h1 {
  font-size: 4rem;
  text-align: left;
  padding: 0rem 0 3rem 0;
  color: white;
}
.tarjeta p {
  color: $colour-darker;
  width: 80%;
  text-align: left;
}
.text-salir {
  font-size: 7.5rem;
  padding: 0 1.5rem;
  line-height: 2rem;
  color: $colour-darker;
}
.tarjeta h5,
h4 {
  text-align: left;
}
.tarjeta h4 {
  font-weight: 700;
  font-size: 2.5rem;
  color: $colour-dark-brown;
  line-height: 2.5rem;
}
.tarjeta h5 {
  font-size: 2rem;
}

%module-img-bg-history {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 13rem 9rem;
}
.image-bg-01 {
  background-image: url(../img/image-bg-01.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding: 8rem 9rem;
}
.image-bg-02 {
  background-image: url(../img/image-bg-02.jpg);
  @extend %module-img-bg-history;
}
.button-rounded-white {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 16px;
  &:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.icon-chevron-down {
  font-size: 2rem;
  color: $colour-green;
  &:hover {
    color: $colour-brown;
  }
}

/***Coffee***/
.image-coffee {
  background-image: url(../img/coffee.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15rem 10rem;
}
.content-coffee {
  padding: 8.5rem 10rem;
}
.tarjeta-coffee {
  position: relative;
  transform-style: preserve-3d;
  height: 30rem;
}
.adelante-coffee,
.atras-coffee {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden; //oculta la parte de atras cuando gira
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adelante-coffee h1 {
  width: 80%;
}
.atras-coffee p,
h4 {
  width: 80%;
}
.atras-coffee h4 {
  line-height: 3rem;
}
.atras-coffee p {
  font-size: 20px;
  color: $colour-darker;
}
.text-oportunity {
  font-size: 7.5rem;
  color: $colour-brown;
  font-weight: normal;
  padding-right: 1rem;
  line-height: 2rem;
}
.atras-coffee {
  transform: rotateY(180deg);
}
.tarjeta-wrap:hover .tarjeta-coffee {
  transform: rotateY(180deg);
}
.img-back-coffee {
  background-image: url(../img/bg-coffee.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-back-coffee {
  background-image: url(../img/coffee-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-decides {
  font-size: 8rem;
}
.atras-coffee-two {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden; //oculta la parte de atras cuando gira
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  padding-left: 5rem;
}
.atras-coffee-two h1 {
  text-align: left;
  margin-right: 16rem;
  margin-bottom: 2rem;
  color: $colour-dark-brown;
}
.atras-coffee-two p {
  color: white;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 1rem;
}
.atras-coffee-two h2 {
  font-size: 2.5rem;
  text-align: left;
  color: $colour-darker;
  line-height: 5rem;
}

/***Hackea tu vida***/
.flex-hackea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-vida {
  font-size: 8rem;
  line-height: 3rem;
  padding-right: 2rem;
}
.text-estancada {
  font-size: 8rem;
  line-height: 2.5rem;
  color: $colour-orange;
}
.text-control {
  font-size: 7rem;
  padding-left: 1rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}
.adelante-hackea h1 {
  line-height: 3rem;
}
.image-bg-03 {
  background-image: url(../img/image-bg-03.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 15rem 10rem;
}

.tarjeta-hackea {
  position: relative;
  transform-style: preserve-3d;
  height: 40rem;
}
.adelante-hackea,
.atras-hackea {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden; //oculta la parte de atras cuando gira
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 7rem;
  justify-content: center;
}
.tarjeta-wrap:hover .tarjeta-hackea {
  transform: rotateY(180deg);
}
.atras-hackea {
  transform: rotateY(180deg);
}
.adelante-hackea h1,
h2,
p {
  width: 68%;
}
.atras-hackea h1,
h2,
p {
  width: 68%;
}
.adelante-hackea h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
.bg-hackea-front {
  background-image: url(../img/bg-taller-04.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.bg-hackea {
  background-image: url(../img/bg-hackea.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.atras-hackea h1 {
  text-align: left;
  margin-bottom: 1rem;
  color: $colour-brown;
  font-weight: 700;
}
.atras-hackea h2 {
  font-size: 3.5rem;
  text-align: left;
}
.atras-hackea p {
  text-align: left;
}
.container-button {
  width: 68%;
  margin-top: 2rem;
}

.button-rounded-brown {
  text-decoration: none;
  color: white;
  background-color: $colour-green;
  border-radius: 50px;
  padding: 16px 30px;
  &:hover {
    color: white;
    background-color: $colour-dark-brown;
  }
}

/***Testimonios***/
.wrapper {
  width: 100%;
  background: #8a7c62;
  padding: 40px 0 1px 0;
  position: relative;
}
.ssslide img {
  margin: auto !important;
}
.slider-testimonial {
  width: 85%;
  max-width: 1400px;
  margin: auto;
}
.testimonial-client {
  margin-bottom: 15px;
}
.testimonial-client img {
  width: 10rem;
  position: absolute;
  margin: auto;
}
.client-name {
  text-align: center;
  color: white;
  font-family: "Serenity";
  font-size: 4rem;
}
.testimonial-text {
  padding: 71px 60px 30px 60px;
  color: white;
  border: 2px solid white;
  position: relative;
  top: -65px;
  width: 80%;
  margin: 0 auto;
}
.testimonial-text:first-child {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}
.testimonial-text p {
  margin: auto;
  text-align: center;
  width: 90%;
}

/***Talleres***/
.text-taller-1 {
  font-size: 2.5rem;
  font-weight: 800;
}
.text-taller-2 {
  font-size: 2.5rem;
  font-weight: 800;
}
.text-taller-3 {
  font-size: 2rem;
  font-weight: 800;
}
.text-taller-4 {
  font-size: 2rem;
  font-weight: 800;
}
.text-taller-5 {
  font-size: 2rem;
  font-weight: 800;
}
#talleres {
  background: #eee;
  padding: 3rem 0 0 0;
  margin-bottom: 0;
}
.title-talleres {
  font-size: 7rem;
  text-align: center;
  font-family: "Serenity";
  color: $colour-brown;
  margin-bottom: 0;
}
.text-bossing {
  margin: 2.8rem auto !important;
}
.text-vinculos {
  margin: 2rem auto !important;
}

%module-img-taller {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;
  border-radius: 15px;
}

.img-taller-1 {
  background-image: url(../img/image-taller-01.jpg);
  @extend %module-img-taller;
}
.img-taller-2 {
  background-image: url(../img/image-taller-02.jpg);
  @extend %module-img-taller;
}
.img-taller-3 {
  background-image: url(../img/image-taller-03.jpg);
  @extend %module-img-taller;
}
.img-taller-4 {
  background-image: url(../img/image-taller-04.jpg);
  @extend %module-img-taller;
}
.img-taller-5 {
  background-image: url(../img/image-taller-05.jpg);
  @extend %module-img-taller;
}

.container-fluid-swiper {
  background: #eee;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.container-swiper {
  width: 90%;
  padding: 10px 40px;
  position: relative;
  overflow-x: hidden;
}
/*
::-webkit-scrollbar {
  display: none; ocultar barra de scroll horizontal
}*/

.container-swiper .swiper-container {
  width: 100%;
  height: 100%;
}

.card-title h4 {
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 1rem auto;
}
.card-description button {
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
  }
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
.container-swiper .swiper-slide {
  position: relative;
  text-align: start;
  font-size: 18px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  background: #fff;
}

.container-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.3);
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  color: white !important;
  padding: 1rem;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1rem !important;
}
.swiper-button-next {
  right: 0 !important;
}
.swiper-button-prev {
  left: 0 !important;
}

/*Ventana modal*/
.modal-backdrop {
  z-index: 0;
}
.modal-top-talleres {
  height: auto;
  overflow-y: hidden;
}

/*Tarjeta flip talleres*/
.wrap-flip {
  margin: 19px auto;
  display: flex;
  justify-content: center;
}
.card-wrap {
  margin: 10px;
  -webkit-perspective: 800;
  perspective: 800;
}
.card {
  width: 415px;
  height: 490px;
  background-color: white;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; //para que funcione el giro con efecto hover
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  border: none;
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden; //Oculta la parte trasera de la rotación(muestra la clase "adelante" y oculta la clase "atras" y viceversa cuando gira.)
  backface-visibility: hidden;
}
.front {
  width: 100%;
}
.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $colour-brown;
  text-align: center;
  color: #fff;
}

.background-back {
  background-color: $colour-brown;
}
.card-wrap:hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border: none;
}
.card h1 {
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}
.card p {
  font-size: 1rem;
  width: 70%;
  margin-top: 1.5rem;
  text-align: left;
}
.front h1 {
  color: $colour-green;
  padding-top: 3.8rem;
}
.back h1 {
  padding-top: 2.5rem;
}
.item-taller {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-bullhorn {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: $colour-light-pink;
}
.icon-check1 {
  margin-right: 1rem;
  font-size: 2rem;
  color: $colour-light-pink;
}

/***Mi Contenido***/
.underline-text {
  border-bottom: 1.5px solid white;
}
.bg-content {
  background-image: url(../img/image-texture.jpg);
  background-size: cover;
  padding-bottom: 4rem;
}
.title-content {
  font-size: 7rem;
  text-align: center;
  padding: 3rem 0 3rem 0;
  font-family: "Serenity";
  color: $colour-dark-brown;
}
.row-content {
  display: flex;
  flex-wrap: inherit;
  padding-bottom: 7rem;
}

%module-img-content {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1rem 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
}
.img-content-1 {
  background-image: url(../img/image-content-01.jpg);
  @extend %module-img-content;
  height: 40rem;
}
.img-content-2 {
  background-image: url(../img/image-content-02.jpg);
  @extend %module-img-content;
  height: 19.7rem;
  width: 100%;
  margin-bottom: 0.3rem;
}
.img-content-3 {
  background-image: url(../img/image-content-03.jpg);
  @extend %module-img-content;
  height: 19.7rem;
  width: 100%;
  margin-top: 0.3rem;
}

/***Contactame***/
.bg-contactame {
  background-color: $colour-light-brown;
  padding: 2.5rem 0;
}
.bg-contactame h1 {
  font-size: 3.5rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
}
.text-contact {
  font-size: 1.4rem;
  margin-bottom: 3rem !important;
  margin-top: 1.3rem;
  margin: auto;
}
.wrapper-input {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.wrapper-input div {
  width: 20%;
  margin: 0 2rem;
}
.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  border-radius: 0;
}
::placeholder {
  color: white !important;
  font-size: 1.3rem;
}
/* IE 10+ */
:-ms-input-placeholder {
  color: white;
  font-size: 1.3rem;
}
/* WebKit */
::-webkit-input-placeholder {
  color: white;
  font-size: 1.3rem;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: white;
  font-size: 1.3rem;
}
textarea.form-control {
  height: 1.1rem;
  padding-bottom: 2.1rem;
}
.btn-send {
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid white;
  border-radius: 50px;
  padding: 14px 80px;
  margin-top: 3rem;
  &:hover {
    color: black;
    background-color: white;
  }
}
.mail-sent {
  background-color: $colour-green;
  padding: 10px;
  border-radius: 7px;
  margin-top: 2em;
  text-align: center;
  font-weight: 400;
}

/***Footer***/
.bg-footer {
  background-color: $colour-darker;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.bg-footer a {
  text-decoration: none;
  color: white;
}
.logo-footer {
  width: 5rem;
  margin-right: 3rem;
}
.wrapper-footer {
  display: flex;
  align-items: center;
}
.icon-instagram,
.icon-twitter,
.icon-youtube {
  font-size: 1.5rem;
  margin: 0 0.8rem;
  &:hover {
    color: $colour-light-brown;
  }
}
.link-footer {
  margin-left: 2.8rem;
  margin-right: 2.8rem;
  &:hover {
    color: $colour-light-brown;
  }
}

/*Sobre mi*/
.image-sobre-mi {
  background: url(../img/image-sobre-mi.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  height: auto;
  margin-top: 9rem;
}
.image-sobre-mi h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51rem;
}
.text-sobre-mi {
  font-size: 9rem;
}
.image-bg-sobre-mi {
  /*border-left: 1px solid #e3e2e2;*/
  margin-top: 2rem;
}
/*
.image-bg-sobre-mi {
  background: url(../img/bg-taller-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}*/
.text-sobremi {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  width: 85%;
  margin: auto;
}
.text-sobremi h1,
h2,
p {
  width: 85%;
}
.text-sobremi h1 {
  font-size: 2.5rem;
  line-height: 3rem !important;
  font-weight: 800;
  color: $colour-brown;
}
.text-sobremi h2 {
  font-size: 1.8rem;
  color: $colour-darker;
}
.text-sobremi p {
  color: $colour-darker;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 4rem;
}
.text-certezas {
  font-size: 7rem;
  line-height: 1rem;
  padding-left: 1rem;
  color: $colour-brown;
}
.text-decides-2 {
  color: $colour-green;
  font-size: 8rem;
  line-height: 1rem;
  margin-bottom: 4rem;
}
.row-redes {
  /*border-top: 1px solid #e3e2e2;*/
  margin: 4rem 2rem 0 3rem;
}
.container-redes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin: 3rem 0;
}
.container-redes p {
  width: auto;
  margin-bottom: 0;
  margin-right: 2rem;
}
.redes a {
  text-decoration: none;
  color: $colour-light-brown;
  border: 1px solid $colour-light-brown;
  border-radius: 50px;
  padding: 0.6rem;
  font-size: 1rem;
  margin: 0.3rem;
  &:hover {
    background-color: $colour-light-brown;
    color: white;
  }
}
.row-border {
  border-top: 1px solid #e3e2e2;
  padding-top: 3rem;
  margin-bottom: 4rem;
}
/*Gallery Sobre mi*/
.gallery-item {
  max-width: 100%;
}
.gallery {
  margin-top: 2rem;
}
.gallery img {
  width: 100%;
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);*/
  cursor: pointer;
}
.col-padding {
  padding: 0.2rem;
  margin-top: 0;
}
#gallery-modal .modal-img {
  width: 100%;
}
.modal-top {
  top: 0;
  max-width: 600px;
}
.flexible-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 3rem;
}

/*Arrow Up Button*/
#scrollUp {
  bottom: 70px;
  right: 25px;
  width: 50px;
  height: 50px;
  background: url("../img/arrow-up.svg");
}
#scrollUp:hover {
  background: url(../img/arrow-up-hover.svg);
}

/*proximamente-section*/
/*vivos*/
.bg-proximamente-vivos {
  background-color: $colour-light-brown;
}
.proximamente-section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  text-align: center;
}
.proximamente-section-1 h1 {
  color: white;
  font-size: 2rem;
  line-height: 2.3rem !important;
}
.text-creando {
  font-size: 9rem;
  padding-left: 1rem;
  color: $colour-darker;
  font-weight: normal;
}

/*capacitaciones gratuitas*/
.bg-proximamente-cap {
  background-color: $colour-light-pink;
}
.bolder {
  font-weight: 600;
}
.proximamente-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  width: 70%;
  margin: auto;
}
.proximamente-section-2 h1 {
  color: $colour-dark-brown;
  font-size: 2rem;
  line-height: 3rem !important;
  text-align: center;
}
.text-gratuito {
  font-size: 9rem;
  padding-left: 1rem;
  color: white;
  font-weight: normal !important;
}

/*libro*/
.text-historia {
  font-size: 9rem;
  padding-left: 1rem;
  color: $colour-orange;
}
.bg-proximamente {
  background: url(../img/bg-taller-04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.proximamente-section-3 {
  background: url(../img/bg-taller-04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  width: 70%;
  margin: auto;
}
.proximamente-section-3 h1 {
  color: $colour-dark-brown;
  font-size: 2rem;
  line-height: 3rem !important;
  text-align: center;
}

/*Buttons click responsive*/
.button-rounded-click {
  background-color: $colour-light-pink;
  width: 35px;
  height: 35px;
  margin-top: 2rem;
  border-radius: 50px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: twinkle;
}
.button-rounded-click-2 {
  background-color: white;
  width: 35px;
  height: 35px;
  margin-top: 23rem;
  border-radius: 50px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: twinkle;
}
.button-rounded-click-3 {
  background-color: $colour-green;
  width: 35px;
  height: 35px;
  margin: 2rem auto 0;
  border-radius: 50px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: twinkle;
}
.container-click {
  padding-right: 3rem;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
