@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,600&display=swap");
@import "variables";

@font-face {
  font-family: "Quentin";
  src: url("../fonts/Quentin.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon/icomoon.woff") format("woff"),
    url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

///General///
/***Colors***/
.light-pink {
  color: $colour-light-pink;
}
.orange {
  color: $colour-orange;
}
.brown {
  color: $colour-brown;
}
.light-brown {
  color: $colour-light-brown;
}
.green {
  color: $colour-green;
}

/***Text***/
.text-big {
  font-size: 3.2rem;
}
.text-bigger {
  font-size: 4rem;
}
.text-bold {
  font-weight: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 19px;
  color: #828282;
  font-family: "Playfair Display", serif !important;
  font-weight: 400;
}

///index.html///

/***Navbar***/
.navbar {
  z-index: 2;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 0;
  left: 0;
  right: 0;
}
.navbar-nav {
  align-items: end;
  float: right;
  width: 40%;
  padding: 1rem 1rem;
}
#navbarNav {
  justify-content: end;
}
.navbar-brand {
  padding-top: 1.3125rem;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar-dark .navbar-toggler {
  color: transparent;
}

/***Content Talleres***/
.img-talleres {
  background-image: url(../img/image-talleres.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.img-talleres h1 {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  color: white;
  padding: 13rem 0;
  margin-bottom: 0;
}
.taller {
  text-align: center;
  padding: 2rem 4rem;
}
.number {
  font-size: 5rem;
  font-family: "Quentin";
  color: $colour-light-pink;
}
.taller h2 {
  font-size: 3rem;
  font-weight: 900;
  color: $colour-brown;
}
%module-bg-taller {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 35rem;
  margin-bottom: 25rem;
}
.bg-taller-01 {
  background-image: url(../img/bg-taller-01.jpg);
  @extend %module-bg-taller;
}
.bg-taller-02 {
  background-image: url(../img/bg-taller-02.jpg);
  @extend %module-bg-taller;
}
.bg-taller-03 {
  background-image: url(../img/bg-taller-03.jpg);
  @extend %module-bg-taller;
}
.bg-taller-04 {
  background-image: url(../img/bg-taller-04.jpg);
  @extend %module-bg-taller;
}

/*Tarjetas efecto Flip*/
.wrap {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.card-wrap {
  margin: 10px;
  -webkit-perspective: 800;
  perspective: 800;
}
.card {
  width: 415px;
  height: 490px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d; //para que funcione el giro con efecto hover
  transition: 0.7s ease;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  border: none;
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden; //Oculta la parte trasera de la rotación(muestra la clase "adelante" y oculta la clase "atras" y viceversa cuando gira.)
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
  color: white;
}
.card-wrap:hover .card {
  transform: rotateY(180deg);
  border: none;
}
.card h1 {
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}
.card p {
  font-size: 1rem;
  width: 70%;
  margin-top: 1.5rem;
  text-align: left;
}
.front h1 {
  color: $colour-green;
  padding-top: 3.8rem;
}
.back h1 {
  padding-top: 2.5rem;
}
.item-taller {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-bullhorn {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: $colour-light-pink;
}
.icon-check1 {
  margin-right: 1rem;
  font-size: 2rem;
  color: $colour-light-pink;
}

.img-card-1 {
  background-image: url(../img/image-card-taller-01.jpg);
  background-size: cover;
}
.img-card-2 {
  background-image: url(../img/image-card-taller-02.jpg);
  background-size: cover;
}
.img-card-3 {
  background-image: url(../img/image-card-taller-03.jpg);
  background-size: cover;
}
.img-card-4 {
  background-image: url(../img/image-card-taller-04.jpg);
  background-size: cover;
}
.img-card-5 {
  background-image: url(../img/image-card-taller-05.jpg);
  background-size: cover;
}

/***Footer***/
.bg-footer {
  background-color: $colour-darker;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.bg-footer a {
  text-decoration: none;
  color: white;
}
.logo-footer {
  width: 5rem;
  margin-right: 3rem;
}
.wrapper-footer {
  display: flex;
  align-items: center;
}
.icon-instagram,
.icon-twitter,
.icon-youtube {
  font-size: 2rem;
  margin: 0 1rem;
  &:hover {
    color: $colour-orange;
  }
}
.link-footer {
  margin-left: 3rem;
  margin-right: 3rem;
  &:hover {
    color: $colour-orange;
  }
}
