$colour-orange: #f6a021;
$colour-dark-brown: #61463c;
$colour-brown: #a4593c;
$colour-green: #8a7c62;
$colour-light-pink: #d7c4bf;
$colour-light-brown: #b9887d;
$colour-darker: #4f4f4f;

$colour-pinky: #E3D8D4;
$colour-lighty: #F4EAE6;
$colour-purple: #D6D7DC;
$colour-dark-purple: #B1A1BE;
$colour-brownTwo: #A36A5A;
$colour-light-blue: #C3CACE;

